head{
    color: #005689;
    background-color: #d5eeff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    color: #005689;
    background-color: #d5eeff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-style: solid;
}

h2{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-style: solid;
}

 img{
     border: #007cb9;
     border-style: solid;
 }

 label, progress{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-style: solid;
 }

 footer{
     text-align: center;
 }

 blockquote{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-radius: 30%;
    border-style: solid;
    text-align: center;
 }

iframe{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-radius: 10%;
    border-style: solid;
    text-align: center;
 }

 audio{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-radius: 10%;
    border-style: solid;
    text-align: center;
 }

 .menu{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-radius: 100%;
    border-style: solid;
    display: block;
    float: right;
    padding: 2%;
    margin: 6%;
    clear: both; 
    overflow: auto;
 }

 .logo{
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    width: 95%;
    padding: 2%;
    
 }


 #intro{
    color: #005689;
    background-color: #ff895d;
    border: #007cb9;
    border-style: solid;
    text-align: left;
 }

 #intro::first-letter{
     color: #007cb9;
     font-style: oblique;
     font-size: 225%;
 }

 a:hover{
    background-color: #ffff00;
    font-size: 100%;
    color: #005689; 
 }

 .active{
    background-color: #ffff00; 
 }

 section {
   font-size: 20px;
   color: #005689;
   border-color: #007cb9;
   border-style: groove;
   background-color: #ff895d;
   float: center;
}

#secIframe{
   border-style: groove;
   border-radius: 5%;
  
}

#secH2{
   float: center; 
}

 .Blog {
   width: 50%;
   display: flex;
   flex-direction: column;
}

#label{
   color: #005689;
}

#commentZone{
   background-color: #ff895d;
   width: 100%;
   margin-bottom: 3%;
   resize: none;
   color: #005689;
   border-style: groove;
   border-color: #007cb9;
   display: none;
}
#pComments {
   width: 20%;
   padding: 1.5%;
   background-color: #ff895d;
   color: #005689;
   margin-bottom: 3%;
   border-style: groove;
   border-color: #007cb9;
   display: none;
   margin-left: 82%;
}

#lComment{
   width: 20%;
   padding: 5px;
   background-color: #ff895d;
   color: #005689;
   margin-bottom: 3%;
   border-style: groove; 
   border-color: #007cb9;
}


.wrapper > button{ 
   margin-top: 3%;
   margin-bottom: 3%;
   margin-right: 1.5%;
   padding: 1.5%;
   background-color: #ff895d;
   color: #005689;
}
